APP_ENV=dev
SUPERVISOR_USERNAME=
SUPERVISOR_PASSWORD=
SUPERVISOR_PORT=*:9001

JWT_TOKEN_TTL="1 hour"
JWT_REFRESH_TTL="30 day"
JWT_PASSPHRASE=

APPLICATION_APIKEYS=
DATABASE_URL=postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@postgres:5432/auth?serverVersion=11&charset=utf8
ENQUEUE_DSN_AMQP=amqp://${RABBITMQ_USER}:${RABBITMQ_PASS}@rabbit:5672/%2f/messages-auth

AWS_DYNAMODB_ENDPOINT="http://localstack:4566"
BLACKLIST_TABLENAME=test_auth_jwt_blacklist

TRANSPORT_EVENT_IDENTITY_CREATED=${ENQUEUE_DSN_AMQP}/tuup-auth-1-event-identity-created
TRANSPORT_EVENT_IDENTITY_LOGGED=${ENQUEUE_DSN_AMQP}/tuup-auth-1-event-identity-logged
TRANSPORT_EVENT_CREDENTIAL_CREATED=${ENQUEUE_DSN_AMQP}/tuup-auth-1-event-credential-created
TRANSPORT_EVENT_CREDENTIAL_UPDATED=${ENQUEUE_DSN_AMQP}/tuup-auth-1-event-credential-updated

AUDIENCE_PLATFORM_NAME="api.test.tuup.es"
AUDIENCE_PLATFORM_NOTIFY_URL="https://api.test.tuup.es/auth/notify"
AUDIENCE_PLATFORM_REDIRECT_URL="https://api.test.tuup.es/auth/welcome"
AUDIENCE_PLATFORM_AUTHORIZATION_URL="https://api.test.tuup.es/auth/roles"
JWT_COOKIE_DOMAIN=".test.tuup.es"

CORS_ALLOW_ORIGIN=^https?://talent.test.tuup.es(:[0-9]+)?