TRAEFIK_TAG=
POSTGRES_TAG=
MYSQL_TAG=
RABBITMQ_TAG=
LOCALSTACK_TAG=
AUTH_TAG=
LEGACY_TAG=
API_TAG=

# comma separated, non-escaped: htpasswd -nb user password
TRAEFIK_AUTH_USERS=user:xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx

POSTGRES_DB=tuup
POSTGRES_USER=test
POSTGRES_PASSWORD=

MYSQL_ROOT_PASSWORD=
MYSQL_DATABASE=tuup
MYSQL_USER=test
MYSQL_PASSWORD=

RABBITMQ_USER=test
RABBITMQ_PASS=

LOCALSTACK_SERVICES=s3,dynamodb
