# This file contains defaults for ENV variables

# ------------------
# Framework
# ------------------

YII_DEBUG       = 1
YII_TRACE_LEVEL = 3
YII_ENV         = dev
YII_APP         = dev

# ------------------
# Application
# ------------------

APP_NAME        = tuup
APP_TITLE       = 'TUUP'
APP_LANGUAGE    = en-US

APP_ADMIN_EMAIL             = admin@myapp.local
APP_ADMIN_PASSWORD          = admin
APP_COOKIE_VALIDATION_KEY   = test


# ------------------
# Database
# ------------------

DATABASE_DSN_BASE       = 'mysql:host=tuup-mysql;port=3306'
DATABASE_DSN_DB         = 'tuup_dev'
DATABASE_DSN            = '${DATABASE_DSN_BASE};dbname=${DATABASE_DSN_DB}'
DATABASE_USER           = 'root'
DATABASE_PASSWORD       = 'rootpass'
DATABASE_TABLE_PREFIX   = ''
DATABASE_CHARSET        = 'utf8'

# ------------------
# Configuration
# ------------------

CONFIG_USE_CACHE = 0



# -----------------
# #TUUP-5
# -----------------

EASY_RECRUE_USER = 'mlacasia@ayanet.es'
EASY_RECRUE_PASS = 'ayanet2018'

INFOJOBS_USERNAME = 'AppTestCliente'
INFOJOBS_PASSWORD = 'AppTestCliente'
INFOJOBS_EMAIL = 'wsuser.test@ijtest.com'
INFOJOBS_HOST = 'api.infojobssbx.net'
INFOJOBS_TOKEN = '30a27136-c929-4b04-8033-3a1929627aac'

INVITATION_PASSWORD = 'verysecretpassword:-D'

EMAIL_SAT = 'dantart@gmail.com'
EMAIL_ADMIN = 'talento@app.tuup.es'
EMAIL_HELP = 'dantart@gmail.com'
EMAIL_NOREPLY = 'no-reply@app.tuup.es'
EMAIL_SUPPORT = 'soporte@tuup.es'

TUUP_DEBUG_IPS = '188.65.95.130'
TUUP_ADMINS = 'admin,alex,dantart@gmail.com'
TUUP_HOST = 'app.tuup.es'


DB_GEO_DSN = 'mysql:host=localhost;port=3306;dbname=geonames'
DB_GEO_USERNAME = root
DB_GEO_PASSWORD = ''

DB_TUUP_DSN = 'mysql:host=127.0.0.1;port=3306;dbname=tuup'
DB_TUUP_USERNAME = root
DB_TUUP_PASSWORD = ''

SMTP_HOST = 'email-smtp.eu-west-1.amazonaws.com'
SMTP_USERNAME = 'AKIA2WG54TO46IEARTGD'
SMTP_PASSWORD = 'BOR6l3fJm8vA9QUT9dnfy92S+1tJ4tPwggY1LbBhIwYd'

API_ROLLBAR_TOKEN = '549be95bafef40a9a8120f3248dd0b8c'

#it@app.tuup.es / ItAppTuupEs
API_ONESIGNAL_APPID = 'd3831e17-62b1-4083-a874-b6ff16742d7f'

# it@app.tuup.es / ItAppTuupEs
API_SMSUP_APIKEY = 'ae54fc24e6558488898111fd396b427e'

API_SOVREN_APPID = 71089593
API_SOVREN_APIKEY = Rfmlp6lPIBoyFNitlxlRjMpfI0yZndNnvk2og5AP
API_SOVREN_HOST = 'https://eu-rest.resumeparsing.com/v9/parser/resume'

#it@app.tuup.es / It@4ppTuupEs
API_WATSON_TRANSLATE_URL = 'https://api.eu-gb.language-translator.watson.cloud.ibm.com/instances/67a02710-2192-4ed7-b94f-e6e09f16a9e1'
API_WATSON_TRANSLATE_APIKEY = 'nX5mq19jkpHxcRRsPKKFoZFcFfIhsUghTQpQyk-c7aeg'
API_WATSON_TONE_URL = 'https://api.eu-gb.tone-analyzer.watson.cloud.ibm.com/instances/2f69e5da-0720-4eca-8211-0a6279880140'
API_WATSON_TONE_APIKEY = '2U7MFk2gQn8F6SCOfMlht8SO8E7iEg2Fn75_3XUbJtur'
API_WATSON_RECOG_URL = 'https://api.eu-gb.speech-to-text.watson.cloud.ibm.com/instances/9e182eda-c65a-4108-b8b2-5e34ae48e73e'
API_WATSON_RECOG_APIKEY = 'IN9BKGUmYWo1Vi2vXZ2Fj8sEvF4z7nsDBLfYdMaN7dqq'
API_WATSON_NLU_APIKEY = 'aD_B6tIhIocAmcw03oFEDc_H-I4HmIGD4iLmFJaep89b'
API_WATSON_NLU_IAMROLECRN = 'crn:v1:bluemix:public:iam::::serviceRole:Manager'
API_WATSON_NLU_IAMSERVICECRN = 'crn:v1:bluemix:public:iam-identity::a/d2c920a1e94e43878455c47c3c0ad606::serviceid:ServiceId-9dd12cef-4f24-44bc-ba8c-2db57c24f59e'
API_WATSON_NLU_URL = 'https://api.eu-gb.natural-language-understanding.watson.cloud.ibm.com/instances/c48b3043-93aa-437b-a37e-fb710d5ac85a'

API_FACEBOOK_CLIENTID = '406887516756093'
API_FACEBOOK_SECRET = '6b21bf15ef7b7d02e26237e7bfc01300'

# Twitter:   Usuario: @tuup_talento   Contraseña: HolaTuup11!
API_TWITTER_CONSUMERKEY = 'GzMLxdROYFwAI0vnFheauACHN'
API_TWITTER_CONSUMERSECRET = 'MP61qu6lOwaovBvmvvVX0KgOdQR1kEZ7AizcY2tCDMsHSA8KsW'
API_TWITTER_TOKEN = '1156086748121903104-8aJvftHEDdKzdplqvxBe7LVFOhPshv'
API_TWITTER_SECRET = 'p5qcw2va34QmDfUzMQQVvZPoJ0UuaLXrM2yIK1v3shRWu'

API_GOOGLE_APIKEY = 'AIzaSyDZtrR9LG8W2Ygy-DvUpll-_lPcJ48L82s'
API_GOOGLE_CLIENTID = '1092989511837-r6n2s527o9ukpu9au40e7sjstonmrvo4.apps.googleusercontent.com'
API_GOOGLE_CLIENTSECRET = 'Q8wq-El2FC2_ygDCizgdlVFN'

API_LINKEDIN_CLIENTID = '787zgb90lho2pl'
API_LINKEDIN_CLIENTSECRET = 'mZr8J6XaVSYUNC3W'

# https://portal.azure.com/   Usuario: it@app.tuup.es   Contraseña: HolaTuup11!
API_LIVE_CLIENTID = '86abf257-ebdc-4ad7-8ea3-26d4b5e0f99d'
API_LIVE_CLIENTSECRET = 'u4nN]?febQeBehdEJ-KPk]SZfnQIs362'

#// Instagram:   Usuario: @tuup_talento   Contraseña: HolaTuup11!
API_INSTAGRAM_CLIENTID = '7544f22db6ef44fb9c03646c8b951a0e'
API_INSTAGRAM_CLIENTSECRET ='57c1f8ee1aca4069ba62231d05bf1968'

API_AWSSDK_S3CDN = 'tuup-cdn'
API_AWSSDK_KEY =
API_AWSSDK_SECRET =
API_AWSSDK_ZONE = 'eu-west-1'

API_GOOGLEAPI_KEY = '1092989511837-r6n2s527o9ukpu9au40e7sjstonmrvo4.apps.googleusercontent.com'


IMAP_LOGIN =  'main.account@emails.tuup.es'
IMAP_PASSWORD = 'zCTyPe9zgB'
IMAP_SERVER = 'vesta2.uptimiza.com'
IMAP_PORT = 143
IMAP_FLAGS = '/notls'

IMAP_PATH = '{${IMAP_SERVER}:${IMAP_PORT}${IMAP_FLAGS}}INBOX'

TELEGRAM_BOT_TOKEN = '1068077181:AAGZWUtvafnuayj6iGBfUc0Tk3udKBFSkkA'

API_APIKEYS = 'VALID_DEV_APIKEY,ANOTHER_DEV_APIKEY'
AUTH_HOST = 'https://auth.tuup.local'
AUTH_APIKEY = 'Ch|0r0F0rm'
AUTH_APIKEY_HEADER = 'X-AUTH-APIKEY'
TALENT_URL = 'https://app.tuup.local'
RABBIT_DSN =